@model IEnumerable<Virtuous.Web.Models.Donation>
@{
    ViewData["Title"] = "All Donations";
}
<h1>Rohan's Awesome Charity</h1>

<p>
    <a asp-action="Donate" class="btn btn-primary">Donate to Rohan's Awesome Charity</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Donor.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donor.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Donor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Donor.Email)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
